.lights {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 200ms;

  & > * {
    font-size: 5rem;
  }

  &--on {
    background-color: #ffd500;
  }
}
